.auth_container {
  padding: 2rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  position: relative;
  padding-left: 1.5rem;
}
.title::before {
  content: "";
  display: block;
  height: 100%;
  width: 0.5rem;
  z-index: -1;
  left: 0;
  background-color: var(--primary-bg);
  position: absolute;
}
.form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form input:not([type="submit"]) {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

input[type="submit"] {
  width: 100%;
  padding: 1rem;
  background: var(--primary-bg);
  color: black;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

input[type="submit"]:hover {
  background: var(--third-bg);
  transform: translateY(-1px);
}

.form a {
  color: #007bff;
  align-self: center;
  padding: 0.5rem;
}

.form a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .auth_container {
    padding: 1rem;
  }

  .form {
    gap: 1rem;
  }

  .form input:not([type="submit"]) {
    padding: 0.7rem;
    font-size: 16px;
  }

  input[type="submit"] {
    padding: 0.8rem;
  }
  .title {
    padding: 0;
  }
}
