.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;
}

.content {
  display: flex;
  align-items: center;
}

.auth_image {
  background-image: url('../assets/3744410.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
