.container {
  display: flex;
  height: 90vh;
}

.content {
  width: 50%;
  display: flex;
  justify-content: center;
}

.auth_image {
  background-image: url('../assets/3744410.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 50%;
}
