.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth_image {
  background-image: url('../assets/3744410.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .auth_image {
    display: none;
  }
}